<form action="/spaces" method="post">
  <label> House Name 
    <input type="text" name="name" />
  </label>
  <label> Description of house
    <input type="text" name="description" />
  </label>
  <label> Price Per Night
    <input type="text" name="price_per_night" />
  </label>
  <label> Date Available From 
    <input type="text" name="available_from" />
  </label>
  <label> Date Available To 
    <input type="text" name="available_to" />
  </label>
  <input type="submit" value="Submit" />
</form>