<form action="/spaces" method="post">
  <input type="text" name="name" />
  <input type="text" name="description" />
  <input type="text" name="price_per_night" />
  <input type="text" name="available_from" />
  <input type="text" name="available_to" />
  <input type="submit" value="Submit" />
</form>