<form action="/spaces" method="post">
  <label> House Name 
    <input type="text" name="name" />
  </label><br>

  <label> Description of house
    <input type="text" name="description" />
  </label><br>

  <label> Price Per Night
    <input type="text" name="price_per_night" />
  </label><br>

  <label for="start">Date available from date:</label>
    <input type="date" id="start" name="date_available_from"
       value="2018-07-22"
       min="2021-08-18" max="2030-12-31">
  </label><br>

  <label for="end">Date available to:</label>
    <input type="date" id="end" name="date_available_to"
       value="2018-07-22"
       min="2021-08-18" max="2030-12-31">
  </label><br>
  
  <input type="submit" value="Submit" />
</form>